<main class="bg-gray-900 text-white h-screen flex flex-col">
  <header class="bg-gray-800 p-4 flex justify-between items-center">
    <h1 class="text-2xl font-bold">Dashboard de Administración</h1>
    <form action="/logout" method="POST">
      <button
        type="submit"
        class="bg-red-600 hover:bg-red-500 transition duration-300 ease-in-out text-white py-2 px-4 rounded"
      >
        Cerrar Sesión
      </button>
    </form>
  </header>

  <div class="container mx-auto p-6 flex-grow bg-gray-900">
    <div class="mb-8">
      <h2 class="text-xl font-bold mb-4">Agregar Nuevo Juego</h2>
      <form
        action="/add-game"
        method="POST"
        class="bg-gray-800 p-6 rounded-lg shadow-md"
        enctype="multipart/form-data"
      >
        <div class="mb-4">
          <label for="title" class="block text-sm mb-2">Título</label>
          <input
            type="text"
            id="title"
            name="title"
            required
            class="w-full p-2 bg-gray-700 border border-gray-600 rounded focus:outline-none focus:ring focus:ring-blue-500"
            placeholder="Ingresa el título del juego"
          />
        </div>

        <div class="mb-4">
          <label for="description" class="block text-sm mb-2">Descripción</label>
          <textarea
            id="description"
            name="description"
            required
            rows="4"
            class="w-full p-2 bg-gray-700 border border-gray-600 rounded focus:outline-none focus:ring focus:ring-blue-500"
            placeholder="Ingresa la descripción del juego"
          ></textarea>
        </div>

        <div class="mb-4">
          <label for="img" class="block text-sm mb-2">Selecciona la imagen del juego</label>
          <input
            type="file"
            id="img"
            name="img"
            required
            class="w-full p-2 bg-gray-700 border border-gray-600 rounded focus:outline-none focus:ring focus:ring-blue-500"
            placeholder="Ingresa la URL de la imagen"
          />
        </div>

        <button
          type="submit"
          class="w-full bg-blue-600 hover:bg-blue-500 transition duration-300 ease-in-out text-white py-2 rounded"
        >
          Agregar Juego
        </button>
      </form>
    </div>

    <div>
      <h2 class="text-xl font-bold mb-4">Juegos Existentes</h2>
      <div class="overflow-y-auto max-h-96">
        <table class="min-w-full bg-gray-800 rounded-lg shadow-md">
          <thead>
            <tr>
              <th class="py-2 px-4 border-b border-gray-600 text-left">Título</th>
              <th class="py-2 px-4 border-b border-gray-600 text-left">Descripción</th>
              <th class="py-2 px-4 border-b border-gray-600 text-left">Imagen</th>
              <th class="py-2 px-4 border-b border-gray-600 text-left">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {{#each games}}
              <tr class="hover:bg-gray-700">
                <td class="py-2 px-4 border-b border-gray-600">{{this.title}}</td>
                <td class="py-2 px-4 border-b border-gray-600">
                  <div class="truncate w-[450px]"> <!-- Añadir clase truncate -->
                    {{this.description}}
                  </div>
                </td>
                <td class="py-2 px-4 border-b border-gray-600">
                  <img
                    src="/public/images/{{this.img}}"
                    alt="{{this.title}}"
                    class="w-16 h-16 object-cover"
                  />
                </td>
                <td class="py-2 px-4 border-b border-gray-600">
                  <div class="flex items-center space-x-2">
                    <form action="/edit-game" method="POST" class="flex items-center">
                      <input type="hidden" name="id" value="{{this._id}}" />
                      <button
                        type="submit"
                        class="flex items-center bg-blue-600 hover:bg-blue-500 transition duration-300 ease-in-out text-white py-1 px-2 rounded"
                      >
                        <i class="fas fa-edit"></i>
                        <span class="ml-1 hidden md:inline">Editar</span>
                      </button>
                    </form>

                    <form action="/delete-game" method="POST" class="flex items-center">
                      <input type="hidden" name="id" value="{{this._id}}" />
                      <button
                        type="submit"
                        class="flex items-center bg-red-600 hover:bg-red-500 transition duration-300 ease-in-out text-white py-1 px-2 rounded"
                      >
                        <i class="fas fa-trash-alt"></i>
                        <span class="ml-1 hidden md:inline">Eliminar</span>
                      </button>
                    </form>
                  </div>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

<style>
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
